/* I KNOW. CSS code is unnecessary in this JS challenge, but I am reminding myself of some styling skills, HAHA! */

#myImage {
  width: 100px;
}

.lightbulb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(0.95);
}

button:active {
  background-color: #fff;
  color: #000;
}

.dimLight {
  position: absolute;
  margin-top: 10%;
  left: 34%
}